.popup-with-form {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-with-form__content {
  background-color: #fff;
  width: 430px;
  border-radius: 10px;
  padding: 34px 36px 28px;
  box-sizing: border-box;
  position: relative;
}

.popup-with-form__close-button {
  position: absolute;
  padding: 0;
  top: -40px;
  right: -40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup-with-form__title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 28px;
  font-family: "Roboto-Black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #1a1b22;
}

.popup-with-form__formfield {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-with-form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #2f71e5;
  font-size: 12px;
  line-height: 14.5px;
  margin-bottom: 30px;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.popup-with-form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  color: #000;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup-with-form__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.popup-with-form__submit-button {
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 64px;
  width: 100%;
  border-radius: 50px;
  padding: 0;
  margin-top: 10px;
}

.popup-with-form__submit-button_active {
  cursor: pointer;
  background-color: #2f71e5;
  color: #fff;
}

.popup-with-form__submit-button_inactive {
  background-color: #e6e8eb;
  color: #b6bcbf;
}

.popup-with-form__or-button-container {
  display: flex;
  gap: 5px;
  color: #1a1b22;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  height: 15px;
  padding: 0;
  margin-top: 15px;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.popup-with-form__or-button-span {
  display: flex;
  align-items: flex-end;
  padding: 0;
  height: 100%;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.popup-with-form__or-button {
  color: #2f71e5;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 560px) {
  .popup-with-form {
    align-items: flex-end;
    background-image: url('../../images/header_background.jpg');
    background-position: center;
    background-size: cover;
  }

  .popup-with-form__content {
    border-radius: 10px 10px 0 0;
    height: 90vh;
    padding: 16px;
    width: 100%;
  }

  .popup-with-form__title {
    margin-bottom: 18px;
  }

  .popup-with-form__close-button {
    right: 16px;
    top: -40px;
    height: 24px;
    width: 24px;
    object-fit: contain;
  }

  .popup-with-form__close-icon {
    height: 24px;
    width: 24px;
  }

  .popup-with-form__submit-button {
    margin-top: 0;
    box-sizing: border-box;
  }

  .popup-with-form__label:last-of-type {
    margin-bottom: 23px;
  }
}
