.saved-news-header__container {
  padding: 40px 105px 56px;
  display: flex;
  justify-content: center;
}

.saved-news-header__info {
  max-width: 1253px;
  width: 100%;
  
}

.saved-news-header__text {
  color: rgba(26, 27, 35, 0.5);
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

.saved-news-header__title {
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  font-family: "RobotoSlab-Regular", "Times New Roman", Times, serif;
  font-weight: 400;
  margin-top: 28px;
  width: 530px;
  margin-bottom: 30px;
}

.saved-news-header__keywords {
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

.saved-news-header__keywords-span {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 1030px) {
  .saved-news-header__container {
    padding: 24px 40px 32px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 880px) {
  .saved-news-header__title {
    margin: 16px 0;
    font-size: 30px;
    line-height: 34px;
  }
}


/* @media screen and (max-width: 1350px) {
  .saved-news-header__info {
    padding: 40px 40px 56px;
  }
} */

/* @media screen and (max-width: 950px) {
  .saved-news-header__info {
    padding: 0 25px;
  }

  .saved-news-header__text {
    font-size: 14px;
    line-height: 24px;
  }

  .saved-news-header__title {
    font-size: 30px;
    line-height: 34px;
  }
} */
