.search-form {
  position: relative;
}

.search-form__text-input {
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #d1d2d6;
  border-radius: 40px;
  width: 608px;
  height: 64px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.search-form__text-input:focus {
  outline: none;
}

.search-form__submit-button {
  background-color: #2f71e5;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 40px;
  width: 168px;
  height: 64px;
  position: absolute;
  cursor: pointer;
  right: 0px;
}
