.preloader {
  background-color: #f5f6f7;
  position: relative;
  display: flex;
  justify-content: center;
  height: 282px;
}

.preloader__circle {
  display: block;
  width: 75px;
  height: 75px;
  border: 2px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 0.75s infinite linear;
}

.preloader__text {
  margin: 0;
  color: #b6bcbf;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 80px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
