.header {
  height: 576px;
  width: 100%;
  background-image: url("../../images/header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding-bottom: 80px;
  box-sizing: border-box;
}

.header__text {
  width: 608px;
}

.header__title {
  color: #fff;
  font-size: 60px;
  line-height: 64px;
  margin: 80px 0 0;
  font-family: "RobotoSlab-Regular", "Times New Roman", Times, serif;
  font-weight: 400;
  width: 608px;
}

.header__description {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 32px 0 88px;
}


@media screen and (max-width: 1030px) {
  .header {
    height: 400px;
    padding-bottom: 48px;
  }

  .header__text {
    width: 452px;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
    width: 385px;
    margin-top: 38px;
  }

  .header__description {
    width: 452px;
    margin-top: 16px;
    margin-bottom: 48px;
  }
}

/* @media screen and (max-width: 950px) {

  .header__text {
    width: 452px;
  }

} */

@media screen and (max-width: 550px) {
  .header {
    height: 536px;
  }

  .header__text {
    width: 285px;
  }
}
