.menu-popup {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-popup__content {
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  position: relative;
  background-color: #1a1b22;
  color: #fff;
  height: fit-content;
  padding-bottom: 0;
}

.menu-popup__links {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 24px;
}

.menu-popup__home-link {
  color: #fff;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
  text-decoration: none;
  cursor: pointer;
}
.menu-popup__saved-news-link {
  color: #fff;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
  text-decoration: none;
  cursor: pointer;
}

.menu-popup__sign-in-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.menu-popup__sign-out-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}
