.news-card-list {
  background-color: #f5f6f7;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 1253px;
  justify-content: center;
}

.news-card-list__cards {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 395px);
  gap: 15px;
}

@media screen and (max-width: 1030px) {
  .news-card__list {
    max-width: 700px;
  }
  .news-card-list__cards {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .news-card__list {
    max-width: 1000px;
  }

  .news-card-list__cards {
    grid-template-columns: repeat(auto-fit, 217px);
  }
}

@media screen and (max-width: 560px) {
  .news-card-list__cards {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
