.news-card-list {
  background-color: #f5f6f7;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
}

.news-card-list__cards {
  box-sizing: border-box;
  width: 100%;
  max-width: 1325px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  gap: 15px;
  padding: 15px;
}

@media screen and (max-width: 950px) {
    .news-card-list__cards {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));

    }
}

@media screen and (max-width: 550px) {
    .news-card-list__cards {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));;
    }
}
