.news-card {
    height: 575px;
    width: 400px;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.news-card:hover {
    box-shadow: 5px 5px 10px rgba(8, 29, 45, 0.1);
}

.news-card__image-container {
    height: 272px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.news-card__image {
    z-index: 3;
}

.news-card__keyword-container {
    z-index: 5;
    position: absolute;
    border-radius: 7px;
    background-color: #FFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 20px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
}

.news-card__delete-message {
    background-color: #FFF;
    height: 40px;
    position: absolute;
    top: 20px;
    z-index: 3;
    width: 159px;
    left: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
}

.news-card__delete-button {
    background-color: #FFF;
    height: 40px;
    width: 40px;
    z-index: 100;
    position: absolute;
    background-image: url('../../images/delete-icon-gray.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    right: 20px;
    top: 20px;
    border: none;
    cursor: pointer;
}

.news-card__delete-button_hover {
    background: url('../../images/delete-icon-black.svg');
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
}

.news-card__sign-in-message {
    position: absolute;
    z-index: 3;
    background-color: #FFF;
    top: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    border-radius: 7px;
    left: 154px;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.news-card__save-button {
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 100;
    background-color: #FFF;
    top: 20px;
    right: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
}


.news-card__info {
    box-sizing: border-box;
    padding: 10px 25px 15px;
    position: relative;
    height: 304px;
}

.news-card__date {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}

.news-card__title {
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
}

.news-card__article {
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    position: absolute;
    top: 120px;
    width: 352px;
}

.news-card__source {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #B6BCBF;
    position: absolute;
    top: 250px;
}
